<ion-header>
  <ion-toolbar>
    <ion-title>
      Workouts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Workouts</ion-label>
    </ion-list-header>
    <ion-button (click)="startNewWorkout()">Start new workout</ion-button>
    <ion-item
      *ngFor="let workout of workoutList"
      (click)="presentPopover(workout)"
    >
      <app-workout-cell [value]="workout"></app-workout-cell>
    </ion-item>
  </ion-list>
</ion-content>
